@charset "UTF-8";

.pop{
    width: 100%;
    height: 300px;
    position: relative;
}

.pop a{
    display: block;
    height: 300px;
    background: url("../images/NSqxmcu8eA6ZwG9f_20160212.jpg") no-repeat center center;
    text-indent: -9999px;
    background-size: cover;
}

.pop_inner{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.pop_inner button{
    float: right;
    padding: 5px 10px;
    margin-top: 50px;
    cursor: pointer;
}


/* 해더영역 */

#header {
    width: 100%;
    height: 103px;
    position: relative;
    /* border: 1px solid black; */
    z-index: 150;
}

.logo {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.logo a {
    display: block;
    width: 101px;
    height: 101px;
    background: url("../images/logo.png") no-repeat;
    text-indent: -9999px;
}

.header_b {
    width: 100%;
    height: 103px;
    background: url("../images/header_bg.png") repeat-x;
}

.header_inner {
    width: 1000px;
    margin: 0 auto;
}

.util {
    /* border: 1px solid red; */
    float: right;
    display: flex;
}

.util li {
    margin: 10px 0 0 10px;
}

.util li a {
    display: block;
    font-size: 12px;
    color: #a2a2a1;
    padding: 3px 10px;
}

.util li a:hover {
    color: white;
}

.util li.u3 a {
    background: #b4b1af;
    border-radius: 10px;
    color: #2b2b2b;
}

.util li.u4 a {
    color: white;
    background: #9265ba;
    border-radius: 10px;
}

.gnb {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding-top: 15px;

}

.gnb>ul {}

.gnb>ul>li {
    position: relative;
}

.gnb>ul>li>a {
    display: block;
    font-size: 16px;
    color: white;
    font-weight: bold;
    line-height: 50px;
    position: relative;
}

.gnb>ul>li>a::before {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 20px;
}

.gnb>ul>li:first-child>a::before {
    display: none;
}

.gnb>ul>li:hover>a {
    color: #8265ba;
}



.gnb_left {
    /* border: 1px solid green; */
    width: 45%;
    display: flex;
}

.gnb_left>li {}

.gnb_right {
    /* border: 1px solid blue; */
    width: 45%;
    display: flex;
}

.sub {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
}

.sub li {}

.sub li a {
    display: block;
    line-height: 30px;
    font-size: 13px;
    color: #919191;
}

.sub li a:hover {
    background-color: #a2dfde;
}

.gnb>ul .g1 {
    width: 110px;
}

.gnb>ul .g2 {
    width: 90px;
}

.gnb>ul .g3 {
    width: 120px;
}

.gnb>ul .g4 {
    width: 150px;
}

.gnb>ul .g5 {
    width: 140px;
}

.gnb>ul .g6 {
    width: 150px;
}

.gnb>ul .g7 {
    width: 150px;
}


/* main 영역 */

.main {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* main_visual 영역 */

.main_visual {
    width: 100%;
    height: 620px;
}

.main_visual .move {
    width: 100%;
    height: 620px;
    position: relative;
}

.main_visual .move .slick-slide {
    width: 100%;
    height: 620px;
}

.main_visual .move a {
    display: block;
    width: 100%;
    height: 620px;
}

.main1 a {
    background: url("../images/main1.jpg") no-repeat center top;
    background-size: cover;
}

.main2 a {
    background: url("../images/main2.jpg") no-repeat center top;
    background-size: cover;
}

.main3 a {
    background: url("../images/main3.jpg") no-repeat center top;
    background-size: cover;
}

.main4 a {
    background: url("../images/main4.jpg") no-repeat center top;
    background-size: cover;
}

.main5 a {
    background: url("../images/main5.jpg") no-repeat center top;
    background-size: cover;
}

.main6 a {
    background: url("../images/main6.jpg") no-repeat center top;
    background-size: cover;
}


.move .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);

}

.move .slick-dots li {
    display: inline-block;
    margin: 5px;
}

.move .slick-dots li button {
    display: block;
    width: 18px;
    height: 18px;
    border: none;
    background-color: transparent;
    background-image: url("../images/main_visual_pager_off.png");
    background-repeat: no-repeat;
    text-indent: -99999px;
    cursor: pointer;
}

.move .slick-dots li.slick-active button {
    background-image: url("../images/main_visual_pager_on.png");
    background-repeat: no-repeat;
}

.move .slick-arrow {
    width: 45px;
    height: 89px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    text-indent: -9999px;
    z-index: 20;
    cursor: pointer;

}

.move .slick-arrow.slick-prev {
    background-image: url("../images/main_visual_prev.png");
    background-repeat: no-repeat;
    margin-left: -600px;
}

.move .slick-arrow.slick-next {
    background-image: url("../images/main_visual_next.png");
    background-repeat: no-repeat;
    margin-left: 600px;
}

/* section1 영역 */
.section1 {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid black; */
    display: flex;
    padding: 50px 0;
}

/* .section1>div {
    border: 1px solid red;
} */
.section1 ul li:first-child {
    font-size: 30px;
    font-weight: 700;
    color: #3f3f3f;
    margin-bottom: 15px;
}

.section1 ul li:nth-child(2) {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
}

/* section2 영역 */
.section2 {
    width: 100%;
    height: 729px;
    background-color: #f5f1e8;
}

.section2_inner {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section2_inner h2 {
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #444;
    background: url("../images/main_menu_title_line.png") no-repeat center center;
    margin-bottom: 30px;
}

.section2_inner h2 span {
    font-size: 35px;
    font-weight: 400;
}

.best {
    /* border: 1px solid red; */
    background: url("../images/main_menu_best_bg.png") no-repeat;
    width: 536px;
    height: 494px;
}

.new {
    /* border: 1px solid blue; */
    width: 420px;
    height: 494px;
}

.new_list{
    display: flex;
    height: 494px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;    
    text-align: center;
}
.new_list > li{
    width: 47%;
    /* border: 1px solid red; */
    height: 48%;   
    background: white;    
    position: relative;
  
}

.new_list > li::after{
    content: "";
    display:none;
    width: 100%;
    height: 100%;
    border: 5px solid orange;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transition: all 0.3s;    
}

.new_list > li:hover::after{
    display: block;
}

.new_list > li ul{
    position: relative;
    background: white;
    
}
.new_list > li ul li:nth-child(1){
    position: absolute;
    right: 10px;
    top: 10px;
}

.new_list > li ul li:nth-child(2) img{
    width: 90%;
}
.new_list > li ul li:nth-child(3){
    margin-bottom: 3px;
}

.section3{
    width: 100%;
    background-color: #423333;
    height: 215px;
}

.section3_inner{
    width: 1000px;
    height: 215px;
    margin: 0 auto;
    position: relative;
}

.section3_inner h2{
    color: white;
    font-size: 30px;
    padding: 50px 0 20px 0;
    font-weight: 300;
}

.section3_inner p{
    color: #949494;
    font-size: 13px;
    margin-bottom: 20px;
}

.section3_inner a{
    display: block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    background-color: #1d1d1d;
    text-align: center;
    font-size: 12px;
    color: #b4b1af;
}

.section3_inner img{
    position: absolute;
    bottom: 0;
    right: 0;
}

.section4{
    width: 1000px;
    height: 410px;
    margin: 90px auto;
    display: flex;
}

.s4_left{
    width: 250px;
    height: 410px;
    position: relative;
}

.s4_left .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
}

.s4_left .slick-dots li{}

.s4_left .slick-dots li button{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    text-indent: -9999px;
    background-color: #8265ba;
    box-shadow: inset 1px 1px 2px #4c4c4c;
}

.s4_left .slick-dots li.slick-active button{}

.s4_midddle{
    width: 271px;
    height: 410px;
}

.s4_middle_top{
    background-color: #6c5648;
    width: 100%;
    height: 205px;
    padding: 40px 30px;
}

.s4_middle_top a{
    display: block;
    height: 100%;
    position: relative;
}

.s4_middle_top a h3{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.s4_middle_top a p{
    font-size: 14px;
    color: #c6c6c6;
    line-height: 20px;
}

.s4_middle_top a img{
    position: absolute;
    top: 0;
    right: 0;
}

.s4_middle_bottom{
    background-color: #f7f7f7;
    width: 100%;
    height: 205px;
    padding: 40px 30px;
}

.s4_middle_bottom a{
    display: block;
    height: 100%;
    position: relative;
}

.s4_middle_bottom a h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.s4_middle_bottom a p{
    font-size: 14px;
    line-height: 20px;
}

.s4_middle_bottom a img{
    position: absolute;
    top: 0;
    right: 0;
}

.s4_right{
    width: 479px;
    height: 410px;
    background: url("../images/main_article_section3.jpg") no-repeat;
    position: relative;
}

.s4_right_coff{
    width: 251px;
    height: 205px;
    background-color: #414141;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 30px 5px 0 20px; 
}

.s4_right_coff a{
    display: block;
    height: 100%;
    position: relative;
}

.s4_right_coff a h3{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.s4_right_coff a p{
    font-size: 14px;
    color: #c6c6c6;
    line-height: 20px;
}

.s4_right_coff a img{
    position: absolute;
    top: 10px;
    right: 20px;
}

.section5{
    width: 100%;
    height: 192px;
    background-color: #f1f1f1;
    padding: 70px 0;
}

.section5_inner{
    width: 1000px;
    height: 192px;
    margin: 0 auto;
    background: url("../images/main_sns_tab.gif") no-repeat;
}

.section5_inner ul{}

.section5_inner ul li{
    width: 240px;
    height: 52px;
    float: left;
}

.section5_inner ul li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 52px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}   

.section5_inner ul li.on a{
    background: url("../images/main_sns_tab_on.gif") no-repeat;
}

#footer{
    background-color: #444;
}

.footer_inner{
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    color: white;
    justify-content: space-between;
}

.f_logo{
    width: 65px;
    height: 65px;
}

.f_wrap{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.f_wrap ul{
    display: flex;
    flex-wrap: wrap;
}

.f_wrap ul li{
    margin-right: 20px;
}

.f_wrap ul li a{
    color: white;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
}

.f_gnb1 li a{
    display: block;
    background-color: #2f2f2f;
    padding: 0 10px;
    border-radius: 20px;
    color: #adadad !important;
}

.address{
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

address{
    font-style: normal;
}

.sns_wrap{}

.sns{
    display: flex;
}

.sns li{
    margin-left: 10px;
}
.sns li a{
    display: block;
    width: 31px;
    height: 31px;
    text-indent: -9999px;
}
.sns li a.fa{
    background: url("../images/ft_sns_facebook.png") no-repeat;
}
.sns li a.in{
    background: url("../images/ft_sns_instagram.png") no-repeat;
}